html {
  background-color: var(--bg-primary);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg-primary);
}

h3 {
  padding: 0 20px;
}
